/* заголовка цвет #212121 */
/* белый #FFFFFF*/
/* цвет акцент #2196F3 */
/* основной цвет #757575 */
/* вторичный фон #F5F4FA */
/* цвет заголовка #2F303A */
/* фон #E5E5E5 */

:root {
    --primary-text-color: #757575;
    --tittle-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color:  #FFFFFF;
    --footer-color: #2F303A;
    --primary-white-color:#FFFFFF;
    --secondary-background-color: #F5F4FA;
}

body 
    { color: var(--primary-text-color);
     background-color: var(--primary-background-color); 
    
    font-family: Roboto, sans-serif;
    }

/* Logo */
.logo {
       font-family: Raleway, sans-serif;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.17;

     }
.logo-first {color: var(--accent-color);}
.logo-second {color: #000000;}


/* Site nav */

.list {list-style: none;}
.site-nav .list {
                 font-weight: 500;
                 font-size: 16px;
                 line-height: 1.17;
}
.site-nav .link.current {color: var(--accent-color);}
.site-nav .link {color: var(--tittle-color);}
.site-nav .link:focus, .link:hover {color: var(--accent-color);}
.link {text-decoration: none;}
.link-adress {color: var(--primary-text-color) ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}
.link-adress:hover, .link-adress:focus {color: var(--accent-color) ;}



/* Шапка сайта */

.hero-tittle {color: var(--primary-white-color);
             font-weight: 900; 
             font-size: 44px;
            text-align: center;}
.hero {background-color: var(--footer-color);text-align: center;}

/* Button */
.button {color: var(--primary-white-color);
background-color: var(--accent-color);}
.button:hover, button:focus {background-color: #188CE8;}


/* Преимущества */
.advanture-list .tittle {color: var(--tittle-color);}

/* Наша команда */
.team {background-color: var(--secondary-background-color);}

/* Подвал */
.footer .link-adress {color: var(--primary-white-color);}
.footer .link-adress:focus, .link-adress:hover {color: var(--accent-color);}
.footer {background-color: var(--footer-color);}
.footer .logo-second {color: var(--primary-white-color);}





/* Страница Портфолио */

.filter.list {list-style: none;}