/* заголовка цвет #212121 */
/* белый #FFFFFF*/
/* цвет акцент #2196F3 */
/* основной цвет #757575 */
/* вторичный фон #F5F4FA */
/* цвет заголовка #2F303A */

:root {
    --primary-text-color: #757575;
    --tittle-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color:  #E5E5E5;
    --footer-color: #2F303A;
    --primary-white-color:#FFFFFF;
}

body 
    { color: var(--primary-text-color);
     background-color: var(--primary-background-color); 
    
    
    }

/* Шапка сайта */
.logo-first {color: var(--accent-color);}
.logo-second {color: #000000;}
.list {list-style: none;}
.link {color: var(--tittle-color);}
.link {text-decoration: none;}
.site-nav .link .current {color: var(--accent-color);}
.site-nav .link:hover, .site-nav .link:focus {color: var(--accent-color);}
.link-adress {color: var(--primary-text-color) ;}
.link-adress:hover, .link-adress:focus {color: var(--accent-color) ;}

/* Преимущества */
.advanture-list .tittle {color: var(--tittle-color);}

/* Подвал */
.footer .link {color: var(--primary-white-color);}

/* Button */
.button {color: var(--primary-white-color);
background-color: var(--accent-color);}
.button:hover, button:focus {background-color: #188CE8;}